.toggle-button {
    -fx-background-color: #EFF0F5;
    -fx-font-family: Roboto-Regular;
    -fx-text-fill:#4d4d4d;
    -fx-font-size:16; 
    -fx-padding: 5 0 5 50;
}

.toggle-button:hover {
    -fx-background-color:#e3e5ed;
    -fx-text-fill:#000000;
    -fx-cursor: hand;
}

.toggle-button:selected {
    -fx-text-fill:#000000;
    -fx-border-color:#000000;
    -fx-border-width: 0 2 0 0;
}

.button {
    -fx-background-color: #EFF0F5;
    -fx-font-family: Roboto-Regular;
    -fx-text-fill: #4d4d4d;
    -fx-font-size: 16;
    -fx-padding: 8 8 8 8;
}

.button:hover {
    -fx-background-color:#e3e5ed;
    -fx-text-fill:#000000;
    -fx-cursor: hand;
}

.button:focused {
    -fx-text-fill:#FFFFFF;
    -fx-background-color: #F7B538;
}

#DataTableCard, #settingsTable {
    -fx-background-radius: 8;
}

.label{
    -fx-font-family: Roboto-Regular;
    -fx-text-fill:#000000; 
}

#newAgentButton{
    -fx-background-color: #F7B538;
    -fx-font-family: Roboto-Regular;
    -fx-text-fill:#FFFFFF;
    -fx-font-size:16; 
    -fx-padding: 5 0 5 0;
}

#newAgentButton:hover{     
    -fx-background-color:#f6ac23;
    -fx-text-fill:#FFFFFF;
}

#newAgentButton:focused{     
    -fx-text-fill:#FFFFFF;
    -fx-border-color:#000000;
    -fx-border-width: 0 0 0 0;
}

#createAgentButton{
    -fx-background-color: #F7B538;
    -fx-font-family: Roboto-Regular;
    -fx-text-fill:#FFFFFF;
    -fx-font-size:16; 
    -fx-padding: 5 0 5 0;
}

#createAgentButton:hover{     
    -fx-background-color:#f6ac23;
    -fx-text-fill:#FFFFFF;
}

#createAgentButton:focused{     
    -fx-text-fill:#FFFFFF;
    -fx-border-color:#000000;
    -fx-border-width: 0 0 0 0;
}

#addSettings{
    -fx-background-color: #F7B538;
    -fx-font-family: Roboto-Regular;
    -fx-text-fill:#FFFFFF;
    -fx-font-size:16; 
    -fx-padding: 5 0 5 0;
}

#addSettings:hover{     
    -fx-background-color:#f6ac23;
    -fx-text-fill:#FFFFFF;
}

#addSettings:focused{     
    -fx-text-fill:#FFFFFF;
    -fx-border-color:#000000;
    -fx-border-width: 0 0 0 0;
}

.table-view{
    -fx-font-family: Roboto-Regular;
    -fx-text-fill:#4d4d4d;
    -fx-font-size: 16px; 
}

.table-view .column-header{
    -fx-background-color: #EFF0F5;
    -fx-border-color:#000000;
    -fx-border-width: 0 1 1 0;
}

.table-cell {
    -fx-font-size: 14px;
    -fx-border-color:#000000;
    -fx-border-width: 0 0 1 0;
}

/* Styling the slider track */
.jfx-slider > .track {
    -fx-background-color: #EFF0F5;
}

/* Styling the slider thumb */
.jfx-slider > .thumb {
    -fx-background-color: #F7B538;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
    -fx-background-color: #F7B538;
}

/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
    -fx-background-color: #F7B538;
}

/* Styling the slider value text inside animated thumb */
.jfx-slider .slider-value {
    -fx-fill: white;
    -fx-stroke: white;
}

/*Flat button example */
.jfx-button {
    -jfx-button-type: FLAT;
    -fx-background-color: #F7B538;
    -fx-text-fill: black;
}

/*Raised button example */
.jfx-button {
    -jfx-button-type: RAISED;
    -fx-background-color: #F7B538;
    -fx-text-fill: white;
}


